<%- include('../partials/header') %>

<h2>Events</h2>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Venue</th>
      <th>Event Number</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% events.forEach(function(e) { %>
      <tr>
        <td><%= e.event %></td>
        <td><%= e.venue %></td>
        <td><%= e.eventNo %></td>
        <td><%= e.date %></td>
        <td><a href="events/<%= e._id %>">DETAILS</a></td>
        <td><form action="/events/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button> </form></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/header') %>

