<%- include('../partials/header') %>

<section id="show-page">
  <div>Event: </div>
  <div><%= event.event %></div>
  <div>Venue: </div>
  <div><%= event.venue %></div>
  <div>Event Number: </div>
  <div><%= event.eventNo %></div>
  <div>Date: </div>
  <div><%= event.date %></div>
  
</section>

<div>Rsvps</div>
<ul>
  <%- event.rsvp.map(t =>
  `<li>${t.name}</li>`) %>
</ul>


  
 
  
<h2>Add RSVP</h2>
<form id="add-rsvp-form" action="/rsvps/<%= event._id %>" method="POST">
    <label>name:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Rsvp">
  </form>  


       
<%- include('../partials/footer') %>
